page-favorite {
  .iconSize{
    font-size: 20px;
    margin-right: 10px;
  }
  .title{
    font-size: 16px;
    font-weight: 400;
    white-space: initial;
    width: 100%;
  }
  .author{
    font-size: 12px;
    font-weight: 400;
    white-space: initial;
    width: 100%;
  }
  .my-button{
    border: 0px;
  }
}
