<ion-header no-border>
  <ion-navbar class="navbar" color="white">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
  <ion-slides (ionSlideDidChange)="slideChanged()" slidesPerView=3 centeredSlides="true">
    <ion-slide [ngClass]="{'highlight': selectedDay == 0 }">
      <div [ngClass]="{'number-active': selectedDay == 0, 'number': selectedDay != 0 }">07</div>
      <div [ngClass]="{'text-active': selectedDay == 0, 'text': selectedDay != 0 }">QUA</div>
    </ion-slide>
    <ion-slide [ngClass]="{'highlight': selectedDay == 1 }">
      <div [ngClass]="{'number-active': selectedDay == 1, 'number': selectedDay != 1 }">08</div>
      <div [ngClass]="{'text-active': selectedDay == 1, 'text': selectedDay != 1 }">QUI</div>
    </ion-slide>
    <ion-slide [ngClass]="{'highlight': selectedDay == 2 }">
      <div [ngClass]="{'number-active': selectedDay == 2, 'number': selectedDay != 2 }">09</div>
      <div [ngClass]="{'text-active': selectedDay == 2, 'text': selectedDay != 2 }">SEX</div>
    </ion-slide>
  </ion-slides>
  <br>
  <br>

</ion-header>
<ion-content>


  <div [ngSwitch]="selectedDay">
    <ion-list *ngSwitchCase="0" no-lines>
      <ion-item *ngFor="let p of posts" margin-top >
        <ion-row>
            <ion-col col-3>
              <div class="hora" margin-left>
                
              </div>
            </ion-col>
            <ion-col col-7>

                <div class="description">
                  {{ p }}
                </div>
                <br>
                <!-- <button *ngIf="item.mesas != null" outline ion-button (click)="itemTapped($event, item)">Ver Mesas</button> -->

            </ion-col>


        </ion-row>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="1" no-lines>
      <ion-item *ngFor="let item of items" margin-top [ngStyle]=item.color>
        <ion-row>
            <ion-col col-3>
              <div class="hora" margin-left>
                {{ item.hora }}
              </div>
            </ion-col>
            <ion-col col-7>
              <div [ngClass]="{'title-active': item.open, 'title': !item.open}">{{ item.title }}</div>
              <div [ngClass]="{'location-active': item.open, 'location': !item.open}"><ion-icon name="compass"></ion-icon> {{ item.location }}</div>
              <div text-wrap [ngClass]="{'section-active': item.open, 'section': !item.open}">
                <br>
                {{ item.description }}
                <br>
                <button *ngIf="item.mesas != null " outline ion-button (click)="itemTapped($event, item)">  Ver Mesas </button>
              </div>
            </ion-col>
            <ion-col col-2>
              <button ion-button outline (click)="expandItem(item)" class="my-button">
                <ion-icon *ngIf="!item.open" name="add"></ion-icon>
                <ion-icon *ngIf="item.open" name="remove"></ion-icon>
              </button>
            </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="2" no-lines>
      <ion-item *ngFor="let item of items" margin-top [ngStyle]=item.color>
        <ion-row>
            <ion-col col-3>
              <div class="hora" margin-left>
                {{ item.hora }}
              </div>
            </ion-col>
            <ion-col col-7>
              <div [ngClass]="{'title-active': item.open, 'title': !item.open}">{{ item.title }}</div>
              <div [ngClass]="{'location-active': item.open, 'location': !item.open}"><ion-icon name="compass"></ion-icon> {{ item.location }}</div>
              <div text-wrap [ngClass]="{'section-active': item.open, 'section': !item.open}">
                <br>
                {{ item.description }}
                <br>
                <button *ngIf="item.mesas != null " outline ion-button (click)="itemTapped($event, item)">  Ver Mesas </button>
              </div>
            </ion-col>
            <ion-col col-2>
              <button ion-button outline (click)="expandItem(item)" class="my-button">
                <ion-icon *ngIf="!item.open"name="add"></ion-icon>
                <ion-icon *ngIf="item.open" name="remove"></ion-icon>
              </button>
            </ion-col>

        </ion-row>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
