page-home {
  ion-slides {
    height: 120px;
    color: #58595b;
  }
  .highlight{
    box-sizing: border-box;
    border: 2px solid #58595b;
    width: 120px !important;
  }
  .text{
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 4px;
  }
  .number{
    font-size: 35px;
    font-weight: 700;
  }
  .text-active{
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 6px;
  }
  .number-active{
    font-size: 55px;
    font-weight: 700;
  }
  .section-active {
      transition: 0.2s linear;
      height: auto;
      color: #58595b;
  }
  .section {
      height: 0 !important;
      color: #58595b;
  }
  .hora{
    font-size: 16px;
    font-weight: 600;
    color: #58595b;
  }
  .location-active {
    font-size: 13px;
    font-weight: 400;
    white-space: wrap;
    color: #58595b;
  }
  .location {
    font-size: 13px;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #58595b;
  }
  .title-active {
    font-size: 16px;
    font-weight: 600;
    white-space: wrap;
    color: #58595b;
  }
  .title {
    font-size: 16px;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #58595b;
  }
  .my-button {
    color: #58595b;
    border: 2px solid #58595b;
    width: 30px;
    height: 30px;
  }
}
