<ion-header no-border>
  <ion-navbar class="navbar" color="white">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
  <ion-slides (ionSlideDidChange)="slideChanged()" slidesPerView=3 centeredSlides="true">
    <ion-slide [ngClass]="{'highlight': selectedDay == 0 }">
      <div [ngClass]="{'number-active': selectedDay == 0, 'number': selectedDay != 0 }">07</div>
      <div [ngClass]="{'text-active': selectedDay == 0, 'text': selectedDay != 0 }">QUA</div>
    </ion-slide>
    <ion-slide [ngClass]="{'highlight': selectedDay == 1 }">
      <div [ngClass]="{'number-active': selectedDay == 1, 'number': selectedDay != 1 }">08</div>
      <div [ngClass]="{'text-active': selectedDay == 1, 'text': selectedDay != 1 }">QUI</div>
    </ion-slide>
    <ion-slide [ngClass]="{'highlight': selectedDay == 2 }">
      <div [ngClass]="{'number-active': selectedDay == 2, 'number': selectedDay != 2 }">09</div>
      <div [ngClass]="{'text-active': selectedDay == 2, 'text': selectedDay != 2 }">SEX</div>
    </ion-slide>
  </ion-slides>
  <br>
  <br>

</ion-header>
<ion-content>


  <div [ngSwitch]="selectedDay">

    <ion-list *ngSwitchCase="0" no-lines>
      <ion-item *ngFor="let atividade of cronogramaByDay(7)" margin-top [ngStyle]=cor(atividade)>
        <ion-row>
            <ion-col col-3>
              <div class="hora" margin-left>
                {{ hora(atividade) }}h
              </div>
            </ion-col>
            <ion-col col-7>
              <div [ngClass]="{'title-active': atividade.open, 'title': !atividade.open}">{{ atividade.titulo }}</div>
              <div [ngClass]="{'location-active': atividade.open, 'location': !atividade.open}"><ion-icon name="compass"></ion-icon> {{ atividade.local }}</div>
              <div text-wrap [ngClass]="{'section-active': atividade.open, 'section': !atividade.open}" class="description">
                <br>
                {{ atividade.descricao }}
                <br><br>
                <button *ngIf="atividade.mesas != null "outline ion-button (click)="itemTapped($event, atividade)"> Ver Mesas </button>
              </div>
            </ion-col>
            <ion-col col-2>
              <button ion-button outline (click)="expandItem(atividade)" class="my-button">
                <ion-icon *ngIf="!atividade.open" name="add"></ion-icon>
                <ion-icon *ngIf="atividade.open" name="remove"></ion-icon>
              </button>
            </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="1" no-lines>
      <ion-item *ngFor="let atividade of cronogramaByDay(8)" margin-top [ngStyle]=atividade.background>
        <ion-row>
            <ion-col col-3>
              <div class="hora" margin-left >
                {{ hora(atividade) }}h
              </div>
            </ion-col>
            <ion-col col-7>
              <div [ngClass]="{'title-active': atividade.open, 'title': !atividade.open}">{{ atividade.titulo }}</div>
              <div [ngClass]="{'location-active': atividade.open, 'location': !atividade.open}"><ion-icon name="compass"></ion-icon> {{ atividade.local }}</div>
              <div text-wrap [ngClass]="{'section-active': atividade.open, 'section': !atividade.open}" class="description">
                <br>
                {{ atividade.descricao }}
                <br><br>
                <button *ngIf="atividade.mesas != null "outline ion-button (click)="itemTapped($event, atividade)"> Ver Mesas </button>
              </div>
            </ion-col>
            <ion-col col-2>
              <button ion-button outline (click)="expandItem(atividade)" class="my-button">
                <ion-icon *ngIf="!atividade.open" name="add"></ion-icon>
                <ion-icon *ngIf="atividade.open" name="remove"></ion-icon>
              </button>
            </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="2" no-lines>
      <ion-item *ngFor="let atividade of cronogramaByDay(9)" margin-top [ngStyle]=atividade.cor_background>
        <ion-row>
            <ion-col col-3>
              <div class="hora" margin-left>
                {{ hora(atividade) }}h
              </div>
            </ion-col>
            <ion-col col-7>
              <div [ngClass]="{'title-active': atividade.open, 'title': !atividade.open}">{{ atividade.titulo }}</div>
              <div [ngClass]="{'location-active': atividade.open, 'location': !atividade.open}"><ion-icon name="compass"></ion-icon> {{ atividade.local }}</div>
              <div text-wrap [ngClass]="{'section-active': atividade.open, 'section': !atividade.open}" class="description">
                <br>
                {{ atividade.descricao }}
                <br><br>
                <button *ngIf="atividade.mesas != null "outline ion-button (click)="itemTapped($event, atividade)"> Ver Mesas </button>
              </div>
            </ion-col>
            <ion-col col-2>
              <button ion-button outline (click)="expandItem(atividade)" class="my-button">
                <ion-icon *ngIf="!atividade.open" name="add"></ion-icon>
                <ion-icon *ngIf="atividade.open" name="remove"></ion-icon>
              </button>
            </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
