page-search {
  .searchInput{
    font-size: 17px;
    margin-left: 10px;
  }
  .iconSize{
    font-size: 20px;
    margin-right: 10px;
  }
  .title{
    font-size: 18px;
    font-weight: 400;
  }
  .author{

  }
}
