<ion-header no-border>
  <ion-navbar color="white">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-row>
      <ion-input class="searchInput" placeholder="Pesquisar"
      [(ngModel)]="searchInput"
      (ionChange)="onInput($event)"
      clearInput></ion-input>
      <ion-icon class="iconSize" padding name="search"></ion-icon>
    </ion-row>
</ion-navbar>
<div>
  <ion-segment [(ngModel)]="searchMode" color="primary">
    <ion-segment-button value="geral">
      Geral
    </ion-segment-button>
    <ion-segment-button value="titulo">
      Título
    </ion-segment-button>
    <ion-segment-button value="autor">
      Autor
    </ion-segment-button>
  </ion-segment>
</div>
</ion-header>
<ion-content padding>

  <ion-fab bottom right>
    <button ion-fab color="main"  (click)="openModal()"><ion-icon color="white" name="settings"></ion-icon></button>
  </ion-fab>

  <ion-item hidden>
    <ion-label>Filtrar por Eventos:</ion-label>
    <ion-select  [(ngModel)]="eventsOptions" multiple="true" okText="Filtrar" cancelText="Cancelar">
      <ion-option value="0">SBPJor</ion-option>
      <ion-option value="1">Junior</ion-option>
      <ion-option value="2">Franco</ion-option>
    </ion-select>
  </ion-item>

  <ion-list no-lines>
    <ion-item *ngFor="let item of filterItems">
      <ion-row>
          <ion-col col-2 margin-top>
              <ion-icon (click)="favItem(item)" *ngIf="!item.favorito" name="star-outline"></ion-icon>
              <ion-icon (click)="favItem(item)" *ngIf="item.favorito" name="star"></ion-icon>
          </ion-col>
          <ion-col col-8>
            <div class="title">{{ item.titulo }}</div>
            <div class="author">{{ item.autores }}</div>
          </ion-col>
          <ion-col col-2 margin-top>
            <ion-icon (click)="download(item)" margin-left name="download"></ion-icon>
          </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>


</ion-content>
