<ion-header no-border>
  <ion-navbar [color]="selectedItem.cor_nome">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
  <div class="header" [ngStyle]="{'background-color': selectedItem.cor_hex }" padding >
    <div class="title">{{ selectedItem.titulo }}</div>
    <div class="hora" margin-top>
      <ion-icon class="icons" name="watch"></ion-icon>
      {{ hora(selectedItem.hora) }}h{{ min(selectedItem.hora)}}m
    </div>
    <div class="local">
      <ion-icon class="icons" name="pin"></ion-icon>
      {{ selectedItem.local }}
    </div>
  </div>
  <div>
    <ion-segment [(ngModel)]="mesasMode" color="primary">
      <ion-segment-button value="livres">
        Mesas Livres
      </ion-segment-button>
      <ion-segment-button value="coordenadas">
        Mesas Coordenadas
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-header>
<ion-content padding>
  <div [ngSwitch]="mesasMode">
    <ion-list *ngSwitchCase="'coordenadas'" no-lines>
      <ion-item *ngFor="let mesa of mesasFilter(true)">
        <div>
          <div class="numero" margin-bottom>
            MESA {{ mesa.numero }}
          </div>
          <div class="name" text-wrap>
            {{ mesa.titulo }}
          </div>
          <br>
          <div class="descricao">
            {{ mesa.descricao }}
          </div>
          <div class="download" margin-top>
            <button ion-button icon-start outline text-center padding (click)="pushButton($event, mesa)">
              <ion-icon name="albums"></ion-icon>
              Ver Trabalhos
            </button>
          </div>
        </div>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'livres'" no-lines>
      <ion-item *ngFor="let mesa of mesasFilter(false)">
        <div>
          <div class="numero" margin-bottom>
            MESA {{ mesa.numero }}
          </div>
          <div class="name" text-wrap>
            {{ mesa.titulo }}
          </div>
          <br>
          <div class="descricao">
            {{ mesa.descricao }}
          </div>
          <div class="download" margin-top>
            <button ion-button icon-start outline text-center padding (click)="pushButton($event, mesa)">
              <ion-icon name="albums"></ion-icon>
              Ver Trabalhos
            </button>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
